/* fonts preload */
@font-face {
    font-family: "BogleWeb-Black";
    src: url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-Black.eot");
    src: url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-Black.eot?#iefix") format("embedded-opentype"),
    url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-Black.woff2") format("woff2"),
    url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-Black.woff") format("woff"),
    url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-Black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BogleWeb-BlackItalic";
    src: url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-BlackItalic.eot");
    src: url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-BlackItalic.woff2") format("woff2"),
    url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-BlackItalic.woff") format("woff"),
    url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-BlackItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BogleWeb-Bold";
    src: url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-Bold.eot");
    src: url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-Bold.eot?#iefix") format("embedded-opentype"),
    url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-Bold.woff2") format("woff2"),
    url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-Bold.woff") format("woff"),
    url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BogleWeb-BoldItalic";
    src: url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-BoldItalic.eot");
    src: url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-BoldItalic.woff2") format("woff2"),
    url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-BoldItalic.woff") format("woff"),
    url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-BoldItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BogleWeb-Regular";
    src: url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-Regular.eot");
    src: url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-Regular.eot?#iefix") format("embedded-opentype"),
    url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-Regular.woff2") format("woff2"),
    url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-Regular.woff") format("woff"),
    url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BogleWeb-RegularItalic";
    src: url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-RegularItalic.eot");
    src: url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-RegularItalic.eot?#iefix") format("embedded-opentype"),
    url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-RegularItalic.woff2") format("woff2"),
    url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-RegularItalic.woff") format("woff"),
    url("https://altoapp.net/assets/typefaces/bogle_std/BogleWeb-RegularItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* general styles */

:root {
    --bg-color: #000;
    --txt-color: #fff;
    --popup-bg-color: #111;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--txt-color);
    overflow: hidden;
    user-select: none;
    -webkit-tap-highlight-color:transparent;
    transition: background-color 0.25s, color 0.25s, transform 0.25s;
}

#clock-container {
    text-align: center;
    margin-bottom: 60px;
}

#clock {
    font-size: 5em;
    font-size: clamp(5em);
    font-family: "BogleWeb-Black", Arial, sans-serif;
}

#settings-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#settings-toggle {
    background: none;
    border: none;
    font-size: 2em;
    color: var(--txt-color);
    font-family: "bootstrap-icons", Arial, sans-serif;
    transition: opacity 1.5s ease-out;
    opacity: 1;
}

#settings-toggle.fade-out {
    opacity: 0.10;
}

#settings-popup {
    display: none;
    justify-content: space-around;
    align-items: center;
    background-color: var(--popup-bg-color);
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 35px rgba(0,0,0,0.25);
    padding: 10px;
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    box-sizing: border-box;
}

.setting {
    cursor: pointer;
    font-size: 1.5em;
    text-align: center;
    flex: 1;
    margin: 0 .75em;
}

.show-settings #settings-popup {
    display: flex;
}

.text-rotate {
    transform: rotate(90deg);
    scale: 1.5;
    transition: transform 0.25s, scale 0.25s;
}

.chevron-rotate {
    transform: rotate(180deg);
    transition: transform 0.25s, scale 0.25s;
}